*,
*::before,
*::after{
    margin: 10%;
    padding: 1px; 
}
.RowsandColumns {
    width: 100vw;
    height: auto;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    border: 1px solid pink;
} 
input{
    text-align: center;
}
form input{
    height: 50px;
    width: 1300px;
}
:root{
    --primary: rgb(133, 184, 109);
    --secondary: orange;
    --alternative: pink ;
    --awesome: rgb(203, 203, 137);
    --borderColor: lightyellow;
}

.tab{ 
    grid-column: 1/ span 3; 
background-color: var(--alternative);
}
.Backspace{
    grid-column: 14 / span 3;
    background-color: var(--alternative);
}
.esc{
    grid-column: 1/ span 1;
    background-color: var(--alternative);
}
.CapsLK{
    grid-column: 1 / span 2;
    background-color: var(--alternative);
}
.Enter{
    grid-column: 14/ span 3;
    background-color: var(--alternative);
}
.Shift1{
    grid-column: 1/ span 3;
    background-color: var(--alternative);
}
.Shift2{
    grid-column: 14/ span 3;
    background-color: var(--alternative);
}

.Control1{
    grid-column: 1/ span 1;
    background-color:var(--alternative);
}
.Fn{
    grid-column: 2/ span 1;
    background-color:var(--alternative);
}
.Windows{
    grid-column: 3/ span 1 ;
    background-color: var(--alternative);
}
.Alt2{
    grid-column: 11/ span 1;
    background-color: var(--alternative);
}
.Alt1{
    grid-column: 4/ span 1;
    background-color: var(--alternative);
}
.Control2{
    grid-column: 12/ span 1;
    background-color: var(--alternative);
}
.Left{
    grid-column: 13/ span 1;
    background-color: var(--alternative);
}
.Right{
    grid-column: 16/ span 1;
    background-color: var(--alternative);
}
.Up{
    grid-column: 14/ span 1;
    background-color: var(--alternative);
}
.Down{
    grid-column: 15/ span 1;
    background-color: var(--alternative);
}
.Spacebar{
    grid-column: 5/ span 6;
    background-color: var(--alternative);
}
.button{
    background-color: var(--awesome);
}
.symbol{
    background-color: var(--primary);
}
button{
   /* margin: auto;  */
   background-color: beige;
   padding: 8px;
   border-radius: 5px;
   margin: 1px;
  
   &:hover{
    background-color: lightcoral;
}     
}


